<html>
    Hello Todolist!

    <br>

    <ul>
    {% for todo in todolist %}
        <li>
            <div>
                <p>Judul: {{todo.title}}</p>
                <p>Deskripsi: {{todo.description}}</p>
                <p>Dibuat: {{todo.date}}</p>
            </div>
        </li>
    {% endfor %}
    </ul>

    <br>

    <button>
        <a href="{% url 'todolist:create_task' %}">Tambah Task Baru</a>
    </button>
    <button>
        <a href="{% url 'todolist:logout' %}">Logout</a>
    </button>
</html>