<html>
    Hello Todolist!

    <br>

    <ul>
    {% for todo in todolist %}
        <li>
            <div>
                <p>Judul: {{todo.title}}</p>
                <p>Deskripsi: {{todo.description}}</p>
                <p>Dibuat: {{todo.date}}</p>
                {% if todo.is_finished %}
                <p>Status: Selesai</p>
                {% else %}
                <p>Status: Belum Selesai</p>
                {% endif %}
                <!-- pengubahan status dilakukan di penembakan url berikut -->
                <a href="/todolist/change-status/{{todo.id}}">
                    <button type="submit">Ubah Status</button>
                </a>
                <!-- penghapusan task dilakukan di penembakan url berikut -->
                <a href="/todolist/delete-task/{{todo.id}}">
                    <button type="submit">Hapus</button>
                </a>
            </div>
        </li>
    {% endfor %}
    </ul>

    <br>

    <button>
        <a href="{% url 'todolist:create_task' %}">Tambah Task Baru</a>
    </button>
    <button>
        <a href="{% url 'todolist:logout' %}">Logout</a>
    </button>
</html>