<html>
{% load static %}
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet"  href="{% static 'todolist.css' %}">

      <title>EuTodolist | Create Task</title>
      <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>

{% block content %}
<body>
    <section class="navbar">
        <a href="{% url 'todolist:create_task' %}">
            <button class="add-task-button">
                Create New Task
            </button>
        </a>
        <h1>
            Hi {{ username }}, this is your todolist!
        </h1>
        <a href="{% url 'todolist:logout' %}">
            <button class="logout-button"> 
            Logout
            </button>
        </a>
    </section>

    
    
    <div class="todolist">
        <div class="todolist-list">
            <div class="todolist-todo">
                <h1 style="color:#e05d43;">To Do</h1>
                {% for todo in todolist %}
                    {% if todo.is_finished == False %}
                        <div class="task-card">
                            <p class="task-judul">{{todo.title}}</p>
                            <p class="task-deskripsi">{{todo.description}}</p>
                            <p class="task-tanggal">Created {{todo.date}}</p>
                            <!-- {% if todo.is_finished %}
                            <p>Status: Selesai</p>
                            {% else %}
                            <p>Status: Belum Selesai</p>
                            {% endif %} -->
                            <div class="task-tombol">
                                <!-- pengubahan status dilakukan di penembakan url berikut -->
                                <a href="/todolist/change-status/{{todo.id}}">
                                    <button type="submit" class="task-change-done">Finish >></button>
                                </a>
                                <!-- penghapusan task dilakukan di penembakan url berikut -->
                                <a href="/todolist/delete-task/{{todo.id}}">
                                    <button type="submit" class="task-delete">Delete</button>
                                </a>
                            </div>
                        </div>
                        <div class="sekat-vertikal"></div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="sekat-horizontal"></div>
            <div class="todolist-done">
                <h1 style="color:#25C2A0;">Done</h1>
                {% for todo in todolist %}
                    {% if todo.is_finished %}
                        <div class="task-card">
                            <p class="task-judul">{{todo.title}}</p>
                            <p class="task-deskripsi">{{todo.description}}</p>
                            <p class="task-tanggal">Created {{todo.date}}</p>
                            <!-- {% if todo.is_finished %}
                            <p>Status: Selesai</p>
                            {% else %}
                            <p>Status: Belum Selesai</p>
                            {% endif %} -->
                            <div class="task-tombol">
                                <!-- pengubahan status dilakukan di penembakan url berikut -->
                                <a href="/todolist/change-status/{{todo.id}}">
                                    <button type="submit" class="task-change-todo"><< Rework</button>
                                </a>
                                <!-- penghapusan task dilakukan di penembakan url berikut -->
                                <a href="/todolist/delete-task/{{todo.id}}">
                                    <button type="submit" class="task-delete">Delete</button>
                                </a>
                            </div>
                        </div>
                        <div class="sekat-vertikal"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="sekat-vertikal"></div>
    <div class="sekat-vertikal"></div>
    <div class="sekat-vertikal"></div>

</body>
{% endblock content %}
</html>