{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
  <h1>Hello, this is Mario's PBP/PBD website!</h1>
  <p>Built with Django</p>
  <h3>Tugas</h3>
  <ul>
    <li>
      <div>
        <h4>Tugas 2</h4>
        <a href="https://github.com/eugeniusms/pbp-tugas-02/tree/main/katalog">
          <p>GitHub Repository</p>
        </a>
        <a href="https://pbp-tugas-02-eugeniusms.herokuapp.com/katalog/">
          <p>Deploy result</p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <h4>Tugas 3</h4>
        <a href="https://github.com/eugeniusms/pbp-tugas-02/tree/main/mywatchlist">
          <p>GitHub Repository</p>
        </a>
        <a href="https://pbp-tugas-02-eugeniusms.herokuapp.com/mywatchlist/html">
          <p>Deploy result [HTML]</p>
        </a>
        <a href="https://pbp-tugas-02-eugeniusms.herokuapp.com/mywatchlist/xml">
          <p>Deploy result [XML]</p>
        </a>
        <a href="https://pbp-tugas-02-eugeniusms.herokuapp.com/mywatchlist/json">
          <p>Deploy result [JSON]</p>
        </a>
    </div>
  </li>
  </ul>   
{% endblock content %}