<html>
{% load static %}
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet"  href="{% static 'homepage.css' %}">

      <title>PBP Assignment Mario</title>

      <link rel="shortcut icon" type="image/png" href="{% static 'logo.png' %}"/>

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>

<body>
{% block content %}
  <section class="navbar">
    <div class="navbar-content">
      <div class="logo-pbp">
        <img src="{% static 'logo.png' %}" width="32px" height="32px"/>
        <a href="https://pbp-fasilkom-ui.github.io/ganjil-2023/">
          <p>PBP Ganjil 22/23</p>
        </a>
      </div>
      <div>Assignments</div>
      <a href="https://pbp-fasilkom-ui.github.io/ganjil-2023/docs/intro">
        <div>Guides</div>
      </a>
    </div>
    <div class="navbar-content">
      <a href="https://pbp-fasilkom-ui.github.io/ganjil-2023/playground">
        <div>Playground</div>
      </a>
      <a href="https://github.com/eugeniusms">
        <div>Eugenius Mario Situmorang</div>
      </a>
    </div>
  </section>

  <section class="assignment">
    <section class="sidebar">
      <p>Tugas dan Tutorial PBP</p>
      <p>Tutorial</p>
      <div>
        <p>Lab 0</p>
        <p>Lab 1</p>
        <p>Lab 2</p>
      </div>
      <p>Tugas</p>
      <div>
        <p>Tugas 1</p>
        <p>
          <a href="/katalog/">Tugas 2</a>
        </p>
        <p>
          <a href="/mywatchlist/">Tugas 3</a>
        </p>
        <p>
          <a href="/todolist/">Tugas 4</a>
        </p>
      </div>
      <div style="height:800px"></div>
    </section>
    <section class="mainpage">
      <h1>Tugas dan Tutorial Lab PBP Ganjil 2022/2023 - Eugenius Mario</h1>
      <p>Pemrograman Berbasis Platform (CSGE602022) - diselenggarakan oleh Fakultas Ilmu Komputer Universitas Indonesia, Semester Ganjil 2022/2023</p>
    </section>
  </section>

  <!-- <h1>Hello, this is Mario's PBP/PBD website!</h1>
  <p>Built with Django</p>
  <h3>Tugas</h3>
  <ul>
    <li>
      <div>
        <h4>Tugas 2</h4>
        <a href="https://github.com/eugeniusms/pbp-tugas-02/tree/main/katalog">
          <p>GitHub Repository</p>
        </a>
        <a href="/katalog/">
          <p>Deploy Result</p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <h4>Tugas 3</h4>
        <a href="https://github.com/eugeniusms/pbp-tugas-02/tree/main/mywatchlist">
          <p>GitHub Repository</p>
        </a>
        <a href="/mywatchlist/">
          <p>Deploy Result MyWatchList</p>
        </a>
        <a href="/mywatchlist/html">
          <p>Deploy Result [HTML]</p>
        </a>
        <a href="/mywatchlist/xml">
          <p>Deploy Result [XML]</p>
        </a>
        <a href="/mywatchlist/json">
          <p>Deploy Result [JSON]</p>
        </a>
    </div>
  </li>
  </ul>    -->
{% endblock content %}
</body>

</html>