@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    color: white;  
}
 
body {
    margin-top: 16px;
    text-align:center;
    background-color: #1B1B1D;
}

.signup-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

input {
    padding: 6px;
    border-radius: 6px;
    border: none;
    color: #1B1B1D;
    width: 200px;
}

.signup-form {
    padding: 20px 20px; 
    background-color: #E3E3E3;
    border-radius: 8px;
}

td {
    color: #1B1B1D;
}

form table tr td {
    padding: 20px;
}

button {
    background-color: #1B1B1D;
    border: none;
    padding: 8px 28px;
    margin-top: 20px;
    border-radius: 6px;
}

button:hover {
    background-color: #25C2A0;
    color: white;
}

.regist-ref {
    margin-top: 20px;
    font-size: 14px;
}

.regist-ref a:hover {
    color: #25C2A0;
}

table {
    background-color: #E3E3E3;
    padding: 40px 40px;
    border-radius: 8px;
    border: none;
}

table tbody tr th label {
    color:#1B1B1D;
}

.helptext {
    font-size: small;
    color:rgb(172, 94, 94);
}

.helptext ul li {
    font-size: small;
    color:rgb(172, 94, 94);
}

/* TOAST */

#invalidinput {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgb(131, 9, 9);
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 16px 24px;
    position: fixed;
    z-index: 1;
    left: 48%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #invalidinput.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }