@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    color: #1B1B1D; 
}
 
body {
    margin-top: 32px;
    text-align:center;
    background-color: #1B1B1D;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-task-button {
    background-color: #25C2A0;
    padding: 10px 30px;
    border: none;
    margin-left: 20px;
    border-radius: 6px;
    font-weight: 600;
}

.logout-button {
    background-color: #e05d43;
    padding: 10px 30px;
    border: none;
    margin-right: 20px;
    border-radius: 6px;
    font-weight: 600;
}

.add-task-button:hover {
    color: white;
}

.logout-button:hover {
    color: white;
}

.todolist {
    display: flex;
    justify-content: center;
}

.todolist-list {
    display: flex;
}

.task-card {
    background-color: #E3E3E3;
    padding: 10px 30px 20px;
    border-radius: 12px;
    text-align: left;
    width: 25rem;
    box-shadow: 6px 6px #888888;
    /* animation */
    transform: scale(1.0);
    transition-duration: 0.2s;
    opacity: 0.9;
}

.task-card:hover {
    /* animation */
    transform: scale(1.03);
    transition-duration: 0.2s;
    opacity: 1;
}

.task-card .task-judul {
    font-weight: 800;
}

.task-card .task-deskripsi {
    font-size: small;
}

.task-card .task-tanggal {
    text-align: right;
    font-size: 11px;
    font-style: italic;
    color: #888888;
    font-weight: 300;
}

.task-card .task-tombol {
    display: flex;
    justify-content: space-between;
}

.task-card .task-tombol .task-change-done {
    background-color: #E3E3E3;
    border: 2px solid #c2c0c0;
    padding: 6px 20px;
    border-radius: 6px;
    font-size: small;
}

.task-card .task-tombol .task-change-done:hover {
    background-color: #66dec4;
    border: 2px solid #66dec4;
}

.task-card .task-tombol .task-change-todo {
    background-color: #E3E3E3;
    border: 2px solid #c2c0c0;
    padding: 6px 20px;
    border-radius: 6px;
    font-size: small;
}

.task-card .task-tombol .task-change-todo:hover {
    background-color: #f7b0a2;
    border: 2px solid #f7b0a2;
}

.task-card .task-tombol .task-delete {
    background-color: #E3E3E3;
    border: 2px solid #e05d43;
    padding: 6px 20px;
    border-radius: 6px;
    font-size: small;
    font-weight: 600;
    color: #e05d43;
}

.task-card .task-tombol .task-delete:hover {
    background-color: #e05d43;
    border: 2px solid #e05d43;
    color: white;
}

.sekat-horizontal {
    width: 40px;
}

.sekat-vertikal {
    height: 20px;
}

h1 {
    color: white;
    font-size: 24px;
}

