<html>
  {% load static %}
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet"  href="{% static 'katalog.css' %}">

      <title>Katalog Mario</title>

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
  {% block content %}

    <h1>Lab 1 Assignment PBP/PBD</h1>

    <div class="profil">Name: {{nama}}</div>
    <div class="profil">Student ID: {{npm}}</div>

    <div class="container-tabel">
      <table>
        <tr class="judul-tabel">
          <th>Item Name</th>
          <th>Item Price</th>
          <th>Item Stock</th>
          <th>Rating</th>
          <th>Description</th>
          <th>Item URL</th>
        </tr>
        {% for barang in list_barang %}
        <tr>
            <th>{{barang.item_name}}</th>
            <th>Rp. {{barang.item_price}},-</th>
            <th>{{barang.item_stock}}</th>
            <th>{{barang.rating}}</th>
            <th>{{barang.description}}</th>
            <th>
              <a href="{{barang.item_url}}">
                <div class="button-go-to">Go To Page >></div>
              </a>
            </th>
        </tr>
        {% endfor %}
      </table>
    </div>

  {% endblock content %}
  </body>
</html>